* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto; /* 中央寄せ（左右に余白がないとできない） */
}

.block1 {
  width: 800px;
  height: 200px;
  display: flex;
}

.block2 {
  width: 800px;
  height: 200px;
  display: flex;
}

.block3 {
  width: 800px;
  height: 200px;
  display: flex;
}

.block1_1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.block1_2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.block1_3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.block1_4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.block2_1 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.block2_2 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.block2_3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.block2_4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.block3_1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.block3_2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.block3_3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.block3_4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}